<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="Formation ILC France-IH Paris" />
<meta name="description"
	content="ILC France-IH Paris (1970-2013) dédié à la formation linguistiquet aux services liés à l’apprentissage et  perfectionnement des langues et à la validation des niveaux CECR par les examens de Cambridge ESOL pour les entreprises et les particuliers." />
<title>formation ILC France-IH Paris</title>
<link rel="stylesheet"
	href="http://www.ilcfrance.com/modules/mod_jaslideshow2/assets/ja.slideshow2.css"
	type="text/css" />
<script type="text/javascript"
	src="http://www.ilcfrance.com/media/system/js/mootools.js"></script>
<script type="text/javascript"
	src="http://www.ilcfrance.com/media/system/js/caption.js"></script>
<link rel="stylesheet"
	href="http://www.ilcfrance.com/templates/system/css/system.css" type="text/css" />
<link rel="stylesheet"
	href="http://www.ilcfrance.com/templates/system/css/general.css"
	type="text/css" />
<link rel="stylesheet"
	href="http://www.ilcfrance.com/templates/tunismart/css/template.css"
	type="text/css" />
<script language="javascript" type="text/javascript"
	src="http://www.ilcfrance.com/templates/tunismart/js/ja.script.js"></script>
<script language="javascript" type="text/javascript">
	var rightCollapseDefault = 'show';
	var excludeModules = '38';
</script>
<script language="javascript" type="text/javascript"
	src="http://www.ilcfrance.com/templates/tunismart/js/ja.rightcol.js"></script>
<link rel="stylesheet"
	href="http://www.ilcfrance.com/templates/tunismart/css/menu.css"
	type="text/css" />
<link rel="stylesheet"
	href="http://www.ilcfrance.com/templates/tunismart/styles/background/lighter/style.css"
	type="text/css" />
<link rel="stylesheet"
	href="http://www.ilcfrance.com/templates/tunismart/styles/elements/black/style.css"
	type="text/css" />
<!--[if IE 7.0]>
<style type="text/css">
.clearfix {display: inline-block;}
</style>
<![endif]-->
<style type="text/css">
#ja-header,#ja-mainnav,#ja-container,#ja-botsl,#ja-footer {
	width: 97%;
	margin: 0 auto;
}

#ja-wrapper {
	min-width: 100%;
}
</style>
</head>
<body id="bd" class="fs3 FF">
	<div class="all">
		<div class="header">
			<a href="/"><div class="logo"></div></a>
			<div class="top-right">
				<div class="top-menu">
					<table border="0" cellpadding="0" cellspacing="1" width="100%">
						<tbody>
							<tr>
								<td nowrap="nowrap"><a
									href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=article&amp;id=10&amp;Itemid=9"
									class="mainlevel" target="_blank">Entreprise</a><span class="mainlevel"> | </span><a
									href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=article&amp;id=11&amp;Itemid=10"
									class="mainlevel" target="_blank">Particulier</a><span class="mainlevel"> | </span><a
									href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=article&amp;id=12&amp;Itemid=11"
									class="mainlevel" target="_blank">Teacher Training</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="mainmenu">
			<table border="0" cellpadding="0" cellspacing="1" width="100%">
				<tbody>
					<tr>
						<td nowrap="nowrap">
						{% block menu %}
						<a href="{{ path('fo_home') }}" class="mainlevel" id="active_menu">Accueil</a><span
							class="mainlevel"> | </span><a
							href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=section&amp;layout=blog&amp;id=1&amp;Itemid=1"
							class="mainlevel" id="active_menu" target="_blank">Retour au site
								principal</a><span
							class="mainlevel"> | </span><a href="{{ path('_security_logout') }}" class="mainlevel" id="active_menu">Déconnexion</a>{% endblock %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="banner">
			<script
				src="http://www.ilcfrance.com/modules/mod_jaslideshow2/assets/ja.slideshow2.js"
				type="text/javascript"></script>
			<script
				src="http://www.ilcfrance.com/modules/mod_jaslideshow2/assets/ja.slideshow.js"
				type="text/javascript"></script>
			<div class="ja-slidewrap" id="ja-slide-18" style="visibility: hidden">
				<div class="ja-slide-main-wrap">
					<div class="ja-slide-main">
						<div class="ja-slide-item">
							<img src="/res/banner/banner1.jpg" alt="banner1.jpg" />
						</div>
						<div class="ja-slide-item">
							<img src="/res/banner/banner3.jpg" alt="banner3.jpg" />
						</div>
						<div class="ja-slide-item">
							<img src="/res/banner/banner2.jpg" alt="banner2.jpg" />
						</div>
					</div>
					<div class="maskDesc">
						<div class="inner"></div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				window.addEvent('load', function() {
					new JASlideshow2('ja-slide-18', {
						startItem : 0,
						showItem : 3,
						itemWidth : 63,
						itemHeight : 63,
						mainWidth : 845,
						mainHeight : 225,
						duration : 400,
						transition : Fx.Transitions.linear,
						animation : 'fade',
						thumbOpacity : 0.8,
						maskOpacity : 0.3,
						buttonOpacity : 0.4,
						showDesc : '',
						descMode : 'mouseover',
						readmoretext : 'Lire la suite',
						overlap : 0,
						navigation : '',
						urls : [ '', '', '' ],
						autoPlay : 1,
						interval : 5000
					});
				});
			</script>
		</div>
		<div class="main">
			<div class="BlocLeft">
				{% block left %}
				<ul class="menu">
					<li class="item29"><a
						href="/index.php?option=com_content&amp;view=article&amp;id=30&amp;Itemid=29"><span>Qu'est-ce
								que BULATS?</span></a></li>
					<li class="item30"><a
						href="/index.php?option=com_content&amp;view=article&amp;id=31&amp;Itemid=30"><span>A
								qui s'adresse Bulats?</span></a></li>
					<li class="item31"><a
						href="/index.php?option=com_content&amp;view=article&amp;id=32&amp;Itemid=31"><span>Test
								BULATS en ligne</span></a></li>
					<li class="item32"><a
						href="/index.php?option=com_content&amp;view=article&amp;id=33&amp;Itemid=32"><span>Résultats
								de tests Bulats</span></a></li>
					<li class="item33"><a
						href="/index.php?option=com_content&amp;view=article&amp;id=34&amp;Itemid=33"><span>Technical
								Support</span></a></li>
					<li class="item56"><a
						href="/index.php?option=com_content&amp;view=article&amp;id=35&amp;Itemid=56"><span>Demo
								Test</span></a></li>
					<li class="item57"><a
						href="/index.php?option=com_content&amp;view=article&amp;id=36&amp;Itemid=57"><span>Rapport
								de Test</span></a></li>
					<li class="item58"><a
						href="/index.php?option=com_content&amp;view=article&amp;id=37&amp;Itemid=58"><span>Ressources</span></a></li>
				</ul>
				{% endblock %}
			</div>
			<div class="BlocHomeCenter">
				{% block right %}
				<h2 class="contentheading">Bulats</h2>
				<div class="article-content">
					<p style="text-align: center;">
						<img src="/images/stories/bulats.jpg" alt="" />
					</p>
					<p style="text-align: justify;">
						<span style="color: rgb(51, 102, 255);"><strong>Un test de
								positionnement efficace </strong></span>
					</p>
					<p style="text-align: justify;">BULATS est un test multilingue destiné
						aux sociétés et organismes qui ont besoin d&rsquo;évaluer rapidement, en
						toute fiabilité et à moindre coût, les compétences en langues de leurs
						employés, de leurs stagiaires et des postulants à un emploi. BULATS teste
						en situation réelle les compétences requises dans le milieu des affaires
						en matière de communication linguistique. Contrairement à d&rsquo;autres
						outils d&rsquo;évaluation, il vous permet de tester les quatre compétences
						communicatives &ndash; compréhension orale, expression orale,
						compréhension écrite, expression écrite - en quatre langues (anglais,
						français, allemand et espagnol).</p>
					<p style="text-align: justify;">
						<span style="color: rgb(51, 102, 255);"><strong>BULATS
								adhère à des critères variés de qualité et de souplesse</strong></span><br /> Ses
						avantages concurrentiels :
					</p>
					<ul>
						<li>Il offre une crédibilité par les partenaires d&rsquo;ALTE,
							experts en matière d&rsquo;évaluation sur le plan mondial et une grande
							fiabilité dans les résultats.</li>
						<li>Il est destiné à évaluer les compétences en langues étrangères du
							milieu professionnel.</li>
						<li>Il garantie la sécurité pour faire de lui un test &laquo;
							high-stakes &raquo;.</li>
						<li>Il correspond aux besoins spécifiques des organisations
							internationales en matière d&rsquo;évaluation des compétences en langues
							étrangères des employés, il se réfère intrinsèquement aux niveaux
							ALTE/Cadre Européen Commun des Références pour les Langues.</li>
						<li>Il est disponible en 4 langues : anglais, français, allemand et
							espagnol.</li>
						<li>Il propose une certaine souplesse pour le passage des tests qui
							peuvent être effectués à tout moment. Les résultats sont immédiats.</li>
						<li>Il possède une finalité pratique, car il fait appel à des
							compétences linguistiques du milieu professionnel.</li>
						<li>L&rsquo;anglais est global et pas seulement britannique ou
							américain.</li>
					</ul>
				</div>
				{% endblock %} <span class="article_separator">&nbsp;</span>
			</div>
		</div>
		<div class="footer">
			<p style="text-align: center;">
				<img alt="" src="/res/images/part.jpg" />
			</p>
		</div>
		<div style="clear: both"></div>
	</div>
	<div class="copyright">
		<div style="float: left">
			<table width="100%" border="0" cellpadding="0" cellspacing="1">
				<tr>
					<td nowrap="nowrap"><a
						href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=article&amp;id=65&amp;Itemid=24"
						class="mainlevel" target="_blank">Conditions générales de vente</a><span class="mainlevel">
							| </span><a
						href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=article&amp;id=52&amp;Itemid=25"
						class="mainlevel" target="_blank">Mentions légales</a><span class="mainlevel"> | </span><a
						href="#" class="mainlevel" target="_blank">Plan de site</a><span class="mainlevel">
							| </span><a
						href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=article&amp;id=67&amp;Itemid=51"
						class="mainlevel" target="_blank">Téléchargement</a><span class="mainlevel"> | </span><a
						href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=article&amp;id=62&amp;Itemid=52"
						class="mainlevel" target="_blank">Recrutement &amp; Stages</a><span class="mainlevel">
							| </span><a
						href="http://www.ilcfrance.com/index.php?option=com_content&amp;view=category&amp;layout=blog&amp;id=1&amp;Itemid=26"
						class="mainlevel" target="_blank">Actualités</a><span class="mainlevel"> | </span><a
						href="http://www.ilcfrance.com/index.php?option=com_contact&amp;view=contact&amp;id=1&amp;Itemid=53"
						class="mainlevel" target="_blank">Contact</a></td>
				</tr>
			</table>
		</div>
		<div style="float: right">
			Copyright ILC France {{ 'now'|date('Y') }} | ILC France - IH Paris
		</div>
	</div>
</body>
</html>
